* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    /* background: black; */
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51.0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 80px;
}
.logo{
 color: orange;
 text-align: center;
 font-size: 40px;
 transition: 0.7s;
 letter-spacing: 15px;
}

.logo:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: orange;
    position: absolute;
    left: 50%;
    bottom: -6px;
    transition: 0.5s;
    transform: translateX(-50%);
}

nav ul li a:hover::after {
    width: 100%;
}
  .content h1 {
    color: white;
    margin-top: 30%;
    font-size: 50px;
    font-weight: bold;
  }

  .content .name {
    font-weight: 600;
    font-size: 50px;
    color:transparent;
    -webkit-text-stroke: 2px white;
    padding: 10px 20px;
    display: inline-block;
    /* transition: 0.9s; */
}




.content .job-title{
    margin-top: 30%;
    font-size: 60px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background: url(images/pexels-skyler-ewing-4596712.jpg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 30s linear infinite;
   letter-spacing: 15px;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.content {
    text-align: left;
}

.content a:hover{
    background-color: rgba(249, 242, 242, 0.617); 
   
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    border: 2px solid white;
    padding: 14px 70px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    transition: background-color 0.5s ease-in-out;

}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}


 
  